
doctype html
html
  head
    title #{$.title} 
    link(rel="stylesheet", href="../assets/css/style.css", type="text/css")
  body#cover
    h1.title 
      | #{$.title}
    |     
    h3.tagline #{$.tagline}

