
doctype html
html
  head
    title #{$.title} | #{markade.name}
    link(rel="stylesheet", href="../assets/css/style.css", type="text/css")
  body
    // include:markdown-it test.md
    // include:markdown-it 2AreYourWordPressThemesFlexibleOrFast.md
    // include:markdown-it 3LazyLoadImages.md 
    != html



  