/* importing fonts we use */



/* Libre Franklin */
@font-face {
    font-family: "Libre Franklin";
    font-style: normal;
    font-weight: normal;
    src: url($local-path+"../fonts/libre-franklin/LibreFranklin-Regular.otf");
}

@font-face {
    font-family: "Libre Franklin";
    font-style: italic;
    font-weight: normal;
    src: url($local-path+"../fonts/libre-franklin/LibreFranklin-Italic.otf")
}

@font-face {
    font-family: "Libre Franklin";
    font-style: normal;
    font-weight: bold;
    src: url($local-path+"../fonts/libre-franklin/LibreFranklin-Bold.otf")
}

@font-face {
    font-family: "Libre Franklin";
    font-style: italic;
    font-weight: bold;
    src: url($local-path+"../fonts/libre-franklin/LibreFranklin-BoldItalic.otf")    
}



/* Raleway */
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: normal;
    src: url($local-path+"../fonts/raleway/Raleway-Medium.otf")    
}

@font-face {
    font-family: "Raleway";
    font-style: italic;
    font-weight: normal;
    src: url($local-path+"../fonts/raleway/Raleway-MediumItalic.otf")    
}

@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: bold;
    src: url($local-path+"../fonts/raleway/Raleway-Bold.otf")    
}

@font-face {
    font-family: "Raleway";
    font-style: italic;
    font-weight: bold;
    src: url($local-path+"../fonts/raleway/Raleway-BoldItalic.otf")    
}
